<div class="card mt-3">
    <div class="card-header">
    </div>
    <div class="card-body">
        <form action="/search">
            <div class="form group col-md-2">
                <input name="q" type="text" class="form-control" placeholder="Search" />
                <button type="submit" class="btn btn-danger" >Ara</button>
            </div>
            
            
        </form>
    </div>
</div>

